.dashbord {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.dashbord__item {
    background-color: #03a192;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 2px solid #5af0de;
    border-radius: 20px;
    width: 232px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
} 
.item_elt {
    font-size: .9rem;
    text-overflow: ellipsis;
    margin: 5px;
    color: white;
    justify-content: space-between;
}

.item_title {
    font-size: 1.1rem;
    text-align: center;
    text-overflow: ellipsis;
    font-weight: bold;
    color: white;
}

span {
    font-weight: bold;
}

.button {
    margin-top: 10px;
    background-color: #bddfdb;
    padding: 2px;
    border: 1px solid #9efaef;
    border-radius: 6px;
}
.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal {
    width: 550px;
    height: 500px;
    justify-content: center;
    background: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }
  
  .modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .heading {
    margin: 0;
    padding: 10px;
    color: #00110f;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .modalContent {
    padding: 10px;
    font-weight: 300;
    width: 100%;
    border: 2px solid black;
  }
  
  .modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
  }
  
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
  
  .deleteBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #ff3e4e;
    transition: all 0.25s ease;
  }
  
  .deleteBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
  }
  
  .cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
  }
  
  .cancelBtn:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
  }